:root{
    --bg-color:rgb(17,24,39);
    --header-search-background-color:rgb(31,41,55);
    --bg-orange-color:rgb(245,158,11);
    --background-product-section:rgb(243,244,246);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Root styles*/
::selection{
    background-color: var(--bg-color);
    color: var(--bg-orange-color);
}
/* Width */
::-webkit-scrollbar {
  width: 0.64rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--background-product-section); 
  margin: 0.19rem 0rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-orange-color); 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color); 
}
/* End */
body{
    font-family: 'Poppins';
    background-color: var(--background-product-section);
}
a, ul{
    list-style: none;
    text-decoration: none;
    color: black;
}
.menu{
    position: fixed;
    top: 15%;
    left:90% !important;
    width: 2rem;
    height: 2rem;
    z-index: 9999999;
    border-radius: 1rem;
    background-color: var(--bg-orange-color);
    cursor: pointer;
    display: none;
    opacity: 0.6;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}
.menu:hover{
    opacity: 1;
}
header{
    width: 100%;
    height: 4rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0% 4%;
}
.header_image{
    width: 6.7rem;
    height: 2rem;
}
.header_image img{
    width: 100%;
    height: 100%;
}
.header_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-search-background-color);
    border: 1px solid rgb(107,114,128);
    border-radius: 0.7rem;
    margin-right: 20%;
    border-right: none;
}
.header_search input{
    background-color: var(--header-search-background-color);
    border: none;
    outline: none;
    color: white;
    padding: 0.4rem 1rem;
    border-top-left-radius:0.7rem ;
    border-bottom-left-radius:0.7rem ;
    border-right: 1px solid rgb(107,114,128);
    height: 2.4rem;
    
}
.header_search input::placeholder{
    color: white;
}
.header_search p{
    color: white;
    margin-left: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}
.header_search i{
    color: white;
    margin: 0 0.4rem;
    font-size: 0.8rem;
    cursor: pointer;
}
.header_search i:last-child{
    color: rgb(255,255,255);
    background-color: var(--bg-orange-color);
    font-size: 1.2rem;
    margin-right: 0;
    border-top-right-radius: 0.6rem;
    padding: 0.6rem 1rem;
    text-align: center;
    border-bottom-right-radius: 0.6rem;
}
.header_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_icons i{
    color: white;
    margin: 0 0.6rem;
    padding: 0.7rem 0.2rem;
    cursor: pointer;
}
.header_icons a{
    background-color: rgb(217,119,6);
    border-radius: 0.7rem;
    position: relative;
    cursor: pointer;
}
.header_icons a::after{
    content: '2';
    position: absolute;
    top: -20%;
    right: -10%;
    color: black;
    background-color: white;
    width: 1.3rem;
    border-radius: 1rem;
    height: 1.3rem;
    text-align: center;
    font-size: 0.8rem;
}
.header_icons svg{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
main{
    width: 100%;
    display: inline-flex;
}
main .sidebar{
    z-index: 9999999;
    width: 20%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    border-top: 2px solid rgb(55,65,81);
    transition: all .3s ease-in-out;
}
main .sidebar .sidebar_head{
    display: flex;
    align-items: center;
    background-color: rgb(55,65,81);
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    border-radius: 0.6rem;
    margin-top:0.5rem;
    cursor: pointer;
}
main .sidebar .sidebar_head svg{
    width: 1.5rem;
    height: 1.5rem;
}
main .sidebar .sidebar_head svg path{
    color: var(--bg-orange-color);
}
main .sidebar p{
    color: var(--bg-orange-color);
    font-weight: bold;
    margin-left: 0.3rem;
}
main .sidebar .sidebar_items_No_logo{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem !important;
}
main .sidebar .sidebar_items_No_logo li{
    width: 10rem;
    height: 2.5rem;
    margin: 0.2rem 0rem;
}
main .sidebar .sidebar_items_No_logo li:first-child{
    margin-top: 2rem;
}
main .sidebar .sidebar_items_No_logo li a{
    color: white;
    font-weight: bold;
}
main .sidebar .sidebar_items_logo{
    display: flex;
    flex-direction: column;
}
main .sidebar .sidebar_items_logo li{
    border-radius: 0.6rem;
    width: 13rem;
    padding: 0.6rem 0rem;
}
main .sidebar .sidebar_items_logo li:hover{
    background-color: rgb(55,65,81);
}
main .sidebar .sidebar_items_logo li a{
    width: 100%;
    color: white;
    font-weight: bold;
    margin-left: 0.9rem;
}
main .products{
    width: 80%;
    margin: 1.7rem;
}
main .products .main_image{
    width: 100%;
    height: 11rem;
    border-radius: 0.7rem;
    position: relative;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .products .main_image::after{
    content: 'Browse Products';
    position: absolute;
    top: 65%;
    left: 2%;
    color: var(--bg-orange-color);
    background-color: white;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
main .products p{
    font-size: 1.4rem;
    color: var(--bg-color);
    font-weight: bold;
    margin: 1.3rem 0rem;
}
main .products p i{
    color: var(--bg-orange-color);
}
main .products .product_icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .products .product_icons i{
    background-color: white;
    margin: 0.2rem 0.5rem;
    color: rgb(107,114,128);
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}
main .products .cards{
    max-width: 991px;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin: 0 auto;
    justify-content: center;
}
main .products .cards .card{
    width: 14rem;
    height: 22rem;
    background-color: white !important;
    border-radius: 1rem;
    padding: 2rem;
}
main .products .cards .card img{
    width: 100%;
    height: 40%;
    margin-top: 1rem;
}
main .products .cards .card h2{
    text-align: center;
    margin: 0.3rem;
    margin: 0;
}
main .products .cards .card p{
    text-align: center;
    color: gray;
    margin: 0;
}
main .products .cards .card p:last-child{
    text-align: center;
    border: 1px solid black;
    color: black;
    width: 7rem;
    font-size: 1rem;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 0.3rem 0.4rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
main .products .cards .card p:last-child:hover{
    background-color: var(--bg-orange-color);
}
.right{
    left: 0 !important;
}